<div class="col-sm-8">
  <h2><%= @blog.title %></h2>
  <div class="blog-body">
    <%= @blog.body %>
  </div>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in? :site_admin %> |
  <%= link_to 'Back', blogs_path %>
</div>


