<div class="col-md-4 align-items-center">
  <div class="card mb-4 box-shadow" data-id="<%= portfolio.id %>">
    <%= image_tag portfolio.thumb_image, class: 'card-img-top' %>
    <div class="card-body d-flex justify-content-center">
      <p class="card-text mb-0">
        <%= link_to portfolio.title, portfolio_show_path(portfolio) %>
        - <span><%= portfolio.subtitle %></span>
      </p>
    </div>
  </div>

</div>
