<h1>Portfolio Items</h1>
<u>
  <% @portfolio_items.each do |portfolio| %>
    <ul>
      <span><%= portfolio.title %></span>
      <br>
      <span><%= portfolio.subtitle %></span>
      <%= image_tag portfolio.thumb_image || 'http://via.placeholder.com/350x150'%>
    </ul>
  <% end %>
</u>