<h1>Would you like to work together?</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Phone</h3>
    <p><%= number_to_phone '9044011845' %></p>
    <p><%= link_to 'Email me',
                   'mailto:kathyebel@me.com?subject=PortfolioContact' %>
    </p>
  </div>
  <div class="col-md-6 offset-md-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.0875831878234!2d-81.59883868456492!3d29.804013981970503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e67ea9387573cf%3A0x34ed9aa83c97362e!2s201+Pioneer+Trail%2C+Green+Cove+Springs%2C+FL+32043!5e0!3m2!1sen!2sus!4v1526858910641"
            width="450"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>
  </div>
</div>
