<h1>Hi, <%= current_user.first_name if current_user %></h1>

<h2>Blog Posts</h2>
<% @posts.each do |p| %>
 <p><%= p.title %></p>
<% end %>

<h2>Skills</h2>
<% @skills.each do |s| %>
  <p><%= s.title %></p>
<% end %>

